html {
  /* font-size: 2rem; */
  font-size: 32px;
}
body {
  /* font-size: 0.8em; */
  padding: 27px;
  /* font-size: 0.6rem; */
}

.colorfull-text {
  /* color: rgba(0, 0, 0, 0.1); */
  /* RGB(RED GREEN blue) */
}

.box-model {
  margin: 20px 0;
  width: 200px;
  height: 200px;
  border: 2px solid #ddd;
  padding: 12px;
  box-sizing: border-box;
}

.border-box-example {
  padding: 10px;
  background: red;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #000;
}

h1 {
  text-align: center;
}

.text {
  color: rgba(0, 255, 0, 1);
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  /* text-shadow: 2px 2px; */
  /* text-shadow: 2px 2px red; */
}

a:hover {
  color: red !important;
}

a:visited {
  color: orange;
}

button:active,
button:focus {
  color: lightblue;
  background-color: lightgoldenrodyellow;
}

.font {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  /* font-size: 2.5rem; */
  font-size: 2.5rem;
  /* font-size: 50px; */
}

.ellipsis {
  width: 200px;
  border: 1px solid #000000;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

a:link {
  text-decoration: none;
}

table,
td,
th {
  border: 1px solid black;
}

td {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.relative {
  margin-right: 100px;
}

.relative span {
  position: absolute;
  right: 0;
}

/* .overflow {
  max-width: 200px;
  max-height: 200px;
  overflow: auto;
} */

.overflow {
  max-height: 300px;
  max-width: 200px;
  overflow: auto;
}

.max-width-el {
  max-width: 300px;
  margin: auto; /* To center div */
}

.transform-div {
  transform: translate(50px,100px);
  transform: rotate(20deg);
  transform: scale(0.5);
}

.transition {
  background-color: orange;
  transition: width 2s, height 4s;
  opacity: 1;
  /* transition: opacity 0.4s; */
  transition: width 2s ease-in-out, height 3s;
  width: 50px;
  height: 50px;
  transition-delay: 1s;
}

.transition:hover {
  /* opacity: 0; */
  width: 200px;
  height: 300px;
}

@keyframes colorChange {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.animation-1 {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-color: red;
  animation-duration: 4s;
  animation-name: colorChange;
  /* animation-timing-function: ease-in; */
}

#yunus {
  margin-bottom: 100px;
}

#yilmaz {
  margin-top: 80px;
}

/* .googleLink {
  color: green;
}

.googleLink {
  color: lightblue;
}
.googleLink {
  color: black;
}
 */
.googleLink:hover {
  background-color: #333;
  color: #eee !important;
  padding: 12px;
}

.override-text {
  color: pink !important;
}

.override-container > .override-text {
  color: aqua;
}

.override-text {
  color: green;
}

.override-text {
  color: red;
}

.position-div {
  height: 500px;
  width: 500px;
  border: 1px solid #ddd;
}

.required::after {
  content: '*';
  color: #ef1223;
  margin-left: 6px;
  font-size: 12px,-;
}